Options -Indexes -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]

# Block direct access to data/ and auth.php
RewriteRule ^(data|auth\.php)(/|$) - [F,L]
